<% provide(:title, t(".title")) %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".link1"), "https://www.railstutorial.org/help" %>
  <%= t ".p2" %>
  <%= link_to t(".link2"), "https://www.railstutorial.org/book" %>
</p>
