<h1><%= t "users_mailer.reset.title" %></h1>

<p><%= t "users_mailer.reset.click" %></p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
 email: @user.email) %>

<p><%= t "users_mailer.reset.p1" %></p>

<p>
<%= t "users_mailer.reset.p2" %>
</p>
